In [10]:
import pandas as pd

In [8]:
#1
data = pd.Series([[1, 2, 3], [4, 5], [6]])
result = data.apply(pd.Series).stack().reset_index(drop=True)
print(result)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [ ]:
#2
data = pd.Series([1, 2, 3, 4, 5])
subset = data[data > 2]
print(subset)

2    3
3    4
4    5
dtype: int64

In [1]:
#3
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent = data.mode().iloc[0]
result = data.apply(lambda x: most_frequent if x == most_frequent else 'Other')
print(result)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

In [4]:
#4
data = pd.Series([1, 5, 10, 15, 20, 24])
pos = data.index[data % 5 == 0].tolist()
print(data)
print(pos)

0     1
1     5
2    10
3    15
4    20
5    24
dtype: int64
[1, 2, 3, 4]

In [5]:
#5
data = pd.Series(['mahesh', 'ganesh', 'ritesh'])
result = data.apply(lambda x: len(x))
print(result)

0    6
1    6
2    6
dtype: int64

In [6]:
#6
data = pd.Series(['2022-01', '2022-02', '2022-03'])
result = pd.to_datetime(data + '-01')
print(result)

0   2022-01-01
1   2022-02-01
2   2022-03-01
dtype: datetime64[ns]

In [7]:
#7
data = {'Name': ['mahesh', 'ganesh', 'ritesh'],
        'Age': [20, 22, 20],
        'City': ['tenali','New York', 'tenali']}
df = pd.DataFrame(data, index=['A', 'B', 'C'])

print(df)

     Name  Age      City
A  mahesh   20    tenali
B  ganesh   22  New York
C  ritesh   20    tenali

In [19]:
#8
data = {'Name': ['mahesh', 'ganesh', 'ritesh'],'Attempts': [1, 3, 2]}
df = pd.DataFrame(data)
result = df[df['Attempts'] > 2]
print(result)

     Name  Attempts
1  ganesh         3

In [18]:
#9
data = {'Name': ['mahesh', 'ganesh', 'ritesh'],
        'Age': [20, 22, 20]}
df = pd.DataFrame(data)
new_row = pd.DataFrame({'Name': ['Alice'], 'Age': [28]})
df = pd.concat([df, new_row], ignore_index=True)
df = df.drop(index=df.index[-1])
print(df)

     Name  Age
0  mahesh   20
1  ganesh   22
2  ritesh   20

In [17]:
#10
import pandas as pd
data = {'Name': ['mahesh', 'ganesh', 'ritesh'],
        'Score': [80, 95, 88]}
df = pd.DataFrame(data)
result = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

print(result)

     Name  Score
2  ritesh     88
0  mahesh     80
1  ganesh     95

In [20]:
#11
data = {'Name':['mahesh', 'ganesh', 'ritesh'],
        'Qualify': ['yes', 'no', 'yes']}
df = pd.DataFrame(data)
df['Qualify'] = df['Qualify'].map({'yes': True, 'no': False})
print(df)

     Name  Qualify
0  mahesh     True
1  ganesh    False
2  ritesh     True

In [21]:
#12
import numpy as np
data = {'Value': [1, 2, np.inf, 4, -np.inf, 6]}
df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(inplace=True)
print(df)

   Value
0    1.0
1    2.0
3    4.0
5    6.0